extends layout

block content
	form
		div(class="inputholder")
			input(type="text", name="username", placeholder="username", autocomplete="off")
		div(class="inputholder")
			input(type="password", name="password", placeholder="password", autocomplete="off")
		div(class="inputholder")
			input(type="password", name="password_entropy", placeholder="password_entropy", autocomplete="off")
		div(class="inputholder")
			input(type="text", name="email", placeholder="email", autocomplete="off")
		div(class="inputholder")
			input(type="text", name="postcode", placeholder="postcode", autocomplete="off")
		div(class="inputholder")
			select(name="postcode-city")
		div(class="inputholder")
			input(type="submit", name="submit", value="submit")
