doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.9.1.js")
		script(src="/javascripts/validate.js")
		script(src="/javascripts/js.js")
	body
		block content